<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/24a476b79d.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="font-family: Poppins; overflow-x: hidden; background-color: #f0f8ff"
  >
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"
          >Training and Placement Cell</a
        >
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'home' %}">
              <button type="button" class="btn btn-light btn-sm">
                BACK TO HOME
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'studentprofile' %}">
              <button type="button" class="btn btn-light btn-sm">
                SEARCH ANOTHER STUDENT
              </button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% for student in data %}
    <div
      class="card"
      style="
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
      "
    >
      <h5 class="card-header" style="background-color: #0d6efd; color: #ffffff">
        {{ student.2 }}
      </h5>
      <div class="card-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Roll Number</label
            >
            <input
              placeholder="{{student.0}}"
              value="{{student.0}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
          <label for="inputEmail4" class="form-label"
              >Enrollment Number</label
            >
            <input
              placeholder="{{student.1}}"
              value="{{student.1}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email ID</label>
            <input
              placeholder="{{student.10}}"
              value="{{student.10}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Branch</label>
            <input
              placeholder="{{student.3}}"
              value="{{student.3}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Contact Number</label
            >
            <input
              placeholder="{{student.8}}"
              value="{{student.8}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Alternate Number</label>
            <input
              placeholder="{{student.9}}"
              value="{{student.9}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Date of Birth</label>
            <input
              placeholder="{{student.5}}"
              value="{{student.5}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Gender</label>
            <input
              placeholder="{{student.4}}"
              value="{{student.4}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Category</label>
            <input
              placeholder="{{student.7}}"
              value="{{student.7}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">CET Rank</label>
            <input
              placeholder="{{student.18}}"
              value="{{student.18}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input
              placeholder="{{student.6}}"
              value="{{student.6}}"
              type="text"
              disabled
              class="form-control"
              id="inputAddress"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">10th Percentage</label>
            <input
              placeholder="{{student.11}}"
              value="{{student.11}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">10th CGPA</label>
            <input
              placeholder="{{student.12}}"
              value="{{student.12}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >10th Passing Board</label
            >
            <input
              placeholder="{{student.13}}"
              value="{{student.13}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Year of Passing 10th</label
            >
            <input
              placeholder="{{student.14}}"
              value="{{student.14}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >12th Percentage</label
            >
            <input
              placeholder="{{student.15}}"
              value="{{student.15}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >12th Passing Board</label
            >
            <input
              placeholder="{{student.16}}"
              value="{{student.16}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Year of Passing 12th</label
            >
            <input
              placeholder="{{student.17}}"
              value="{{student.17}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Percentage in Diploma</label
            >
            <input
              placeholder="{{student.19}}"
              value="{{student.19}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Year of Passing Diploma</label
            >
            <input
              placeholder="{{student.20}}"
              value="{{student.20}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Semester I Percentage</label
            >
            <input
              placeholder="{{student.21}}"
              value="{{student.21}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Semester II Percentage</label
            >
            <input
              placeholder="{{student.22}}"
              value="{{student.22}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Semester III Percentage</label
            >
            <input
              placeholder="{{student.23}}"
              value="{{student.23}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Semester IV Percentage</label
            >
            <input
              placeholder="{{student.24}}"
              value="{{student.24}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Percentage till Semester IV</label
            >
            <input
              placeholder="{{student.25}}"
              value="{{student.25}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Semester V Percentage</label
            >
            <input
              placeholder="{{student.26}}"
              value="{{student.26}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Percentage till Semester V</label
            >
            <input
              placeholder="{{student.27}}"
              value="{{student.27}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Semester VI Percentage</label
            >
            <input
              placeholder="{{student.28}}"
              value="{{student.28}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Percentage till Semester VI</label
            >
            <input
              placeholder="{{student.29}}"
              value="{{student.29}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Semester VII Percentage</label
            >
            <input
              placeholder="{{student.30}}"
              value="{{student.30}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label"
              >Percentage till Semester VII</label
            >
            <input
              placeholder="{{student.31}}"
              value="{{student.31}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Pending Backlogs</label>
            <input
              placeholder="{{student.32}}"
              value="{{student.32}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Cleared Backlogs</label>
            <input
              placeholder="{{student.33}}"
              value="{{student.33}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Eligibility</label>
            <input
              placeholder="{{student.34}}"
              value="{{student.34}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Gap in studies</label>
            <input
              placeholder="{{student.35}}"
              value="{{student.35}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Blocked / Opted Out</label>
            <input
              placeholder="{{student.36}}"
              value="{{student.36}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label">PPO / Dream Company</label>
            <input
              placeholder="{{student.37}}"
              value="{{student.37}}"
              type="text"
              disabled
              class="form-control"
              id="inputEmail4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 1</label>
            <input
              placeholder="{{student.38}}"
              value="{{student.38}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 2</label>
            <input
              placeholder="{{student.39}}"
              value="{{student.39}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 3</label>
            <input
              placeholder="{{student.40}}"
              value="{{student.40}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 4</label>
            <input
              placeholder="{{student.41}}"
              value="{{student.41}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 5</label>
            <input
              placeholder="{{student.42}}"
              value="{{student.42}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-4">
            <label for="inputPassword4" class="form-label">Company 6</label>
            <input
              placeholder="{{student.43}}"
              value="{{student.43}}"
              type="text" disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword4" class="form-label"
              >Dream Attempt 1</label
            >
            <input
              placeholder="{{student.44}}"
              value="{{student.44}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword4" class="form-label"
              >Dream Attempt 2</label
            >
            <input
              placeholder="{{student.45}}"
              value="{{student.45}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword4" class="form-label"
              >Dream Attempt 3</label
            >
            <input
              placeholder="{{student.46}}"
              value="{{student.46}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
          <div class="col-3">
            <label for="inputPassword4" class="form-label"
              >Dream Attempt 4</label
            >
            <input
              placeholder="{{student.47}}"
              value="{{student.47}}"
              type="text"
              disabled
              class="form-control"
              id="inputPassword4"
            />
          </div>
        </form>
        <form method="get">
          <div class="col-12">
            <button
              class="btn btn-primary"
              name="rollid"
              value="{{student.0}}"
              type="submit"
              style="margin-top: 10px"
            >
              Edit Details
            </button>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
