<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/24a476b79d.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body style="font-family: Poppins; background-color: #f0f8ff; width: 250vw">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Training and Placement Cell</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'home' %}">
            <button type="button" class="btn btn-light btn-sm">
              BACK TO HOME
            </button>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'studentlist' %}">
              <button type="button" class="btn btn-light btn-sm">
                CHANGE FILTERS
              </button>
            </a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="card" style="margin-left: 2vw; margin-right: 2vw; width: 246vw; margin-top: 10vh; margin-bottom: 10vh">
    <h5 class="card-header" style="background-color: #0d6efd; color: #ffffff">
      STUDENT LIST
    </h5>
    <div style="margin-left:1vw">
      {% block content %}
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Enrollment Number</th>
                <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email</th>
                <th scope="col">Category</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">10th Percentage</th>
                <th scope="col">12th Percentage</th>
                <th scope="col">Diploma Percentage</th>
                <th scope="col">Semester I Percentage</th>
                <th scope="col">Semester II Percentage</th>
                <th scope="col">Semester III Percentage</th>
                <th scope="col">Semester IV Percentage</th>
                <th scope="col">Semester V Percentage</th>
                <th scope="col">Semester VI Percentage</th>
                <th scope="col">Overall Percentage</th>
                <th scope="col">Pending Blocks</th>
                <th scope="col">Gap in Studies</th>
              </tr>
            </thead>
            <tbody>
                {% for item in data %}
              <tr>
                <td>{{item.0}}</td>
                <td>{{item.2}}</td>
                <td>{{item.1}}</td>
                <td>{{item.8}}</td>
                <td>{{item.10}}</td>
                <td>{{item.7}}</td>
                <td>{{item.4}}</td>
                <td>{{item.5}}</td>
                <td>{{item.11}}</td>
                <td>{{item.15}}</td>
                <td>{{item.19}}</td>
                <td>{{item.21}}</td>
                <td>{{item.22}}</td>
                <td>{{item.23}}</td>
                <td>{{item.24}}</td>
                <td>{{item.25}}</td>
                <td>{{item.27}}</td>
                <td>{{item.28}}</td>
                <td>{{item.31}}</td>
                <td>{{item.34}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      {% endblock %}
    </div>
  </div>
</body>

</html>