<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/24a476b79d.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body style="font-family: Poppins; overflow-x: hidden; background-color: #f0f8ff">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Training and Placement Cell</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'home' %}">
            <button type="button" class="btn btn-light btn-sm">
              BACK TO HOME
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="card" style="margin-left: 20vw; margin-right: 20vw; margin-top: 10vh; margin-bottom: 10vh">
    <h5 class="card-header" style="background-color: #0d6efd; color: #ffffff">
      SET FILTERS
    </h5>
    <div style="margin-left:1vw">
      {% block content %}
      <div class="card-body">
        <form class="row g-3" method="post" action="/studentlist/">
          {% csrf_token %}
          <label for="exampleFormControlInput1" class="form-label" style="font-weight:bolder">Branch</label>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="cse" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Computer Science and Engineering
            </label>
          </div>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="it" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Information Technology
            </label>
          </div>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="ece" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Electronics and Communication Engineering
            </label>
          </div>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="eee" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Electrical and Electronics Engineering
            </label>
          </div>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="ice" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Instrumentation and Control Engineering
            </label>
          </div>
          <label for="exampleFormControlInput1" class="form-label" style="font-weight:bolder">Gender</label>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="male" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Male
            </label>
          </div>
          <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" name="female" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Female
            </label>
          </div>
          <label for="exampleFormControlInput1" class="form-label" style="font-weight:bolder">Category</label>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" name="gen" id="flexCheckDefault" name="gen">
            <label class="form-check-label" for="flexCheckDefault">
              General
            </label>
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" name="sc" id="flexCheckDefault" name="sc">
            <label class="form-check-label" for="flexCheckDefault">
              SC
            </label>
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" name="st" id="flexCheckDefault" name="st">
            <label class="form-check-label" for="flexCheckDefault">
              ST
            </label>
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" name="obc" id="flexCheckDefault" name="obc">
            <label class="form-check-label" for="flexCheckDefault">
              OBC
            </label>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputEmail4" class="form-label" style="font-weight:bolder">Minimum 10th Percentage</label>
            <input type="number" name="ten" class="form-control" id="inputEmail4" value=0>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Minimum 12th Percentage</label>
            <input type="number" name="twelve" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Minimum Diploma Percentage</label>
            <input type="number" name="diploma" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label" style="font-weight:bolder">Semester I Percentage</label>
            <input name="sem1" type="number" class="form-control" id="inputEmail4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Semester II Percentage</label>
            <input name="sem2" type="number" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputEmail4" class="form-label" style="font-weight:bolder">Semester III Percentage</label>
            <input name="sem3" type="number" class="form-control" id="inputEmail4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Semester IV Percentage</label>
            <input name="sem4" type="number" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Semester V Percentage</label>
            <input name="sem5" type="number" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Semester VI Percentage</label>
            <input name="sem6" type="number" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Overall Percentage</label>
            <input name="overall" type="number" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Gap Years</label>
            <input type="number" name="gap" class="form-control" id="inputPassword4" value=0>
          </div>
          <div class="col-md-4" style="margin-top: 25px">
            <label for="inputPassword4" class="form-label" style="font-weight:bolder">Pending Backlogs</label>
            <input type="number" name="backlog" class="form-control" id="inputPassword4" value=0>
          </div>
          <label for="exampleFormControlInput1" class="form-label" style="font-weight:bolder">Placed</label>
          <div class="col-md-11">
            <select class="form-select" aria-label="Placed" name="placedat">
              <option value="Yes">Yes</option>
              <option value="No" selected>No</option>
            </select>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">View List</button>
          </div>
      </div>
      </form>
      {% endblock %}
    </div>
  </div>
</body>

</html>